@charset "UTF-8";

body {
    font-family: 'Noto Sans JP' ;
    line-height: 1.0;
    font-weight: 700;
    margin:  0 auto;
    background: #ffff;
}
img {
    height: auto;
    max-width: 100%;
}