@charset "UTF-8";

//width
$container-width: 1200px;

// spacing
$base-spacing: 16px;
$base-spacing--small: 10px;

// color
$primary-color--blue: #007FC6;
$primary-color--white: #FFFFFF;
$primary-color--black: #333333;



