@use "sass:math";
@use "../variables";
@use "../mediaQuery" as *;
@use "viewportscale" as *;


@mixin rounded-btn {
    // min-width: 320px;
    // padding: 16px 40px;
    // @include max(lg) {
    //     padding: 16px 20px;
    // } 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 40px;
    @media screen and (max-width: 860px) {
        padding: 13px 27px;
    }
    text-align: center;
    color: variables.$primary-color--white;
    text-decoration: none;
    line-height: 1.0; 
    border-radius: 25px;
    display: inline-block;
}

@mixin heading-caresend {
    @include vs(font-size, 375px, 24px, 1536px, 32px, 'vw');

    font-weight: 700;
    text-align: center;
    color: variables.$primary-color--black;
}